.container {
    background-color: rgb(250,250,250,0.6);
    width: 100%;
}

.header-img img{
	width: 100%;
	height: 100%;
}



body{

	width:100%;
    background-color: silver;
    /*background-image: url(../images/BACK8.jpg);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-outline-success:hover {
    background-color: blueviolet;
    border-color: blueviolet;
}

.btn-outline-success {
    border-color:blueviolet;
    color: blueviolet;
}

.red{
  color: red;
}

.green{
  color: green;
}

.erreur{
  	width: 100%;
	height: 100%;
	text-align: center;
	color: white;
	background-image: url("../img/404-img.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

