.red{
  color: red;
}

.green{
  color: green;
}

.error {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	background-image: url("img/error.jpg");
	text-align: center;
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.text-error{
  position: absolute;
  top: 10%;
  left: 5%;
}

.error a{
  color: white;
}

.btn-error {
  position: absolute;
  top: 23%;
  left: 7%;
  border: 1px solid black;
  box-shadow: 4px 2px 1px black;
  text-align: center;
  opacity : 0.9;
  background-color: dimgrey;
  width : 200px;
  height: 30px;
  border-radius: 13%;
}

.hidden {

  display: none;
}

.product-img img {
  max-height: 20px;
}